@import './styles/design-tokens.css';

body {
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--text-md);
  font-weight: var(--font-regular);
  color: var(--color-text);
  background-color: var(--color-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  box-sizing: border-box;
}
